In [76]:
import pandas as pd

In [97]:
df = pd.read_csv("movies.csv")
df

                 actor                            movie_or_TV_name
0      William Melling                                Strange Days
1      William Melling                     Frankie Drake Mysteries
2      William Melling                            Midsomer Murders
3      William Melling                                       Fried
4      William Melling                                        Glue
...                ...                                         ...
10110    David Tennant                             Heroes Unmasked
10111    David Tennant                The Big Fat Quiz of the Year
10112    David Tennant                                   Timeshift
10113    David Tennant                          A Taste of My Life
10114    David Tennant  Greatest Before They Were Stars TV Moments

[10115 rows x 2 columns]

In [98]:
df = df.groupby(['movie_or_TV_name']).size()

In [99]:
df = df.reset_index()
df = df.rename(columns = {0: "Number of Shared Actors", "movie_or_TV_name": "Movie or TV Name"})
df = df.sort_values(["Number of Shared Actors", "Movie or TV Name"], ascending=False)

In [100]:
df = df.reset_index()
df = df.drop(['index'], axis = 1)

In [101]:
df[0:20]

                                     Movie or TV Name  Number of Shared Actors
0                 Harry Potter and the Goblet of Fire                      192
1           Harry Potter and the Order of the Phoenix                       74
2        Harry Potter and the Deathly Hallows: Part 1                       44
3        Harry Potter and the Deathly Hallows: Part 2                       39
4              Harry Potter and the Half-Blood Prince                       38
5             Harry Potter and the Chamber of Secrets                       38
6               Harry Potter and the Sorcerer's Stone                       36
7                                            The Bill                       27
8            Harry Potter and the Prisoner of Azkaban                       26
9                                          Doctor Who                       25
10  Creating the World of Harry Potter, Part 2: Ch...                       25
11  Creating the World of Harry Potter, Part 1: Th...                       24
12                                       This Morning                       23
13  Harry Potter 20th Anniversary: Return to Hogwarts                       22
14                                              Today                       21
15                                     HBO First Look                       20
16                     Reflections on the Fourth Film                       18
17                                           Casualty                       18
18                              Entertainment Tonight                       17
19                                          Breakfast                       17